// Variables de colores
$grey: #bbbbbb;
$header-background : $grey;
$link-normal: #000;
$link-hover: #f00;
$link-visited: #00f;
$link-active: #0f0;
$white: #fff;   

.header {
    background-color: $header-background;
}

//Anidamiento b치sico para enlaces
a {
    color: $link-normal;
    text-decoration: none;
    &:hover {
        color: $link-hover;
    }
    &:visited {
        color: $link-visited;
    }
    &:active {
        color: $link-active;
    }
}


// Interpolaci칩n en selectores
$button-type: "error";
$btn-color : #f00;

.btn-#{$button-type} {
    background-color:  $btn-color;
}

//Interpolaci칩n en el uso de funciones
$fondo :  "images/fondos/default.png";

.container {
  
  background-image: url('#{$fondo}');
  
}

//Interpolaci칩n en comentarios
$autor: "OpenWebinars";

/* 
    Web desarrollada por #{$autor}
*/



