//Les doy un tamaño y un borde para distinguirlos
//Sólo válida para el ejemplo
//Padre de cada fila
.row {
  @include flex_mixin;
}

/// Número de elementos máximos que voy a tener a lo ancho del layout
/// @group layout
$num_elementos: 8;

//Bucle para generar las clases para tamaños medios
@for $i from 1 through $num_elementos {
  .row > .col-#{$i} {
    width: #{anchura_col($i)}+ "%";
  }
}

