

table {
    border-collapse: collapse;
    width: 100%;
    padding: 1rem;
}

thead {
    tr {
        background-color: $table-header-background-color;
        color: $table-header-color;
        font-size: 1.5rem;
    }

}

tbody {

    tr {
        border-bottom: $table-row-bottom-border-width solid $table-border-color;
    }

    tr:nth-child(even) {
        background-color: $table-even-rows-background-color;
    }

    tr:nth-child(odd) {
        background-color: $table-odd-rows-background-color;
    }

    tr:hover {
        background-color: $table-hover-background-color;
    }

    td {
        font-size: $table-body-font-size;
        padding: 0.5rem;
    }

}