//// @access public
//// @author @pekechis

/// @group colores
$font-principal: #fff;
/// @group colores
$background-color-principal: #eee;
/// @group colores
$btn-background-default: #00aa00;

/// @group dimensiones
$btn-radius-style: 5px;
